.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  width: 920px;
  margin: 0  auto 0;
  padding: 0;
  list-style-type: none;
}
.cards__item {
  width: 250px;
  margin: 60px 0 0;
  padding: 0;
}
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin: 0 40px 0 40px;
  padding: 0;
}
.cards__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 43px 0 0;
}
.cards__description {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  margin: 16px 0 0;
}
