html, body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.block_key_value {
  position: absolute;
  left: 64px;
  top:30px;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  height: 32px;
  width: 228px;
}
.title {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}
.header_title {
  font-size: 102px;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  /* margin-top: 200px; */
  display: flex;
  flex-direction: row;
  /* z-index: 3; */
}
.header_subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header_main_illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  display: flex;
  top: 64px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.header_link {
  text-decoration: none;
  color: #2f80ed;
}
.description {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
.two-columns {
  display: flex;
  align-items: start;
  justify-content: space-between;
  min-height: 350px;
  width: 80%;
}
.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
}
.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}
.span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  margin-bottom: 100px;
}
.table__cell {
  margin-top: 60px;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  margin-right: auto;
  margin-left: auto;
}
.section-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin-right: auto;
  margin-left: auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.15;
}
.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
}
.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
}
.feynman__title {
  width: 648px;
  font-weight: 600;
  line-height: 1.15;
  font-size: 120px;
  margin: auto;
  text-align: center;
  padding: 90px 0 0 0;
  position: relative;
  z-index: 1;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: auto;
  padding: 70px 0 0 0;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 1;

}
.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  font-weight: normal;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
}
.feynman__img{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
  object-fit: scale-down;
}
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}
.section-title_theme_dark {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  margin: auto;
  padding: 90px 0 0 0;
  color: white;

}
.section-subtitle_theme_dark {
  text-align: center;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}
.table__heading_theme_dark {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  color: white;
  margin-bottom: 20px;
  z-index: 1;
}
.table__text_theme_dark {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  z-index: 1;
  color: white;
}
.kaufman-triangle {
  width: 847px;
  height: 847px;
  z-index: 0;
  position: absolute;
  right: -210px;
  top: 0;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  background-color: #1f1f1f;
  padding: 60px 5% 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading {
  top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  display: block;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer__column-link {
  display: block;
  padding: 0;
  margin: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:last-of-type {
  margin:0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
.logo_place_footer {
  width: 228px;
  height: 32px;
  top: 0;
  left: 0;
}
