.khan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.khan__container {
  width: 80%;
  margin: 105px auto 0;
  padding: 0;
}
.khan__author {
  top: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin: 0;
  padding: 0;
}
.khan__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
.khan__quote {
  width: 790px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 50px 0 0 0;
  padding: 0;
}
.khan__quote-author {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 36px 0 0 0;
  padding: 0;
}
.khan__quote-author-subline {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  margin: 10px 0 68px 0;
}
.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  z-index: 6;
  margin: 0 0 0 48px;
}
.khan__buy-link:hover {
  filter: alpha(opacity=25);
  opacity: 0.25;
  transition: 0.5s;
}
.khan__book-pic {
  width: 608px;
  height: 620px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: 0 0;
}
.khan__book-container {
  margin: 68px 0 0 0;
}
