.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
}
.feynman__title {
  width: 648px;
  font-weight: 600;
  line-height: 1.15;
  font-size: 120px;
  margin: auto;
  text-align: center;
  padding: 100px 0 0 0;
  position: relative;
  z-index: 1;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: auto;
  padding: 70px 0 0 0;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 1;

}
.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  font-weight: normal;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  z-index: 2;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.feynman__link:hover {
  filter: alpha(opacity=25);
  opacity: 0.25;
  transition: 0.5s;
}
.feynman__img{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}
