
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}
.header__title {
  font-size: 102px;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}
.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  object-fit: cover;
  object-position: right bottom;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  display: flex;
  top: 64px;
  position: absolute;
  right: 0;
  z-index: 1;
  animation: rotation 20s linear infinite;
  overflow: hidden;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  filter: alpha(opacity=25);
  opacity: 0.25;
  transition: 0.5s;
}
