.footer__column-link {
  display: block;
  padding: 0;
  margin: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:last-of-type {
  margin:0;
}

.footer__column-link:hover {
  filter: alpha(opacity=25);
  opacity: 0.25;
  transition: 0.5s;
}
