.header__title {
  font-size: 102px;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
}
